header {
    background-color: white;
    z-index: 5;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100vw;
    min-height: 44px;
    max-height: 80px;
}

#logo_header {
    width: 24px;
    height: auto;
    margin-top: 1vh;
    margin-left: 5vw;
}

#main_burger {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    margin-right: 5.9vw;
    margin-top: 1.97vh;
}


.lista_nav {
    width: 100vw;;
    display: block;
    background-color: #0000EC;
    margin-top: 10px;
    padding: 0;
    position: absolute;
    top: -100vh;
    left: 0;
    opacity: 0;
    // z-index: -;

    li {
        list-style: none;  
        margin: 0;
        padding-left: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    a {
        text-decoration: none;
        font-size: 16px;
        color: white;
    }
}

#button_burger, .fa-times {
    display: none;
}

#button_burger:checked {
    & ~ .lista_nav {
        position: relative;
        //animacion del nav
        transition: transform 0.3s ease, opacity 1.5s;
        transform: translateY(100vh);
        opacity: 1;
        // display: block;
    }

    & ~ #main_burger .fa-bars{
        display: none;
    }
    & ~ #main_burger .fa-times{
        display: block;
    }
}



