header {
    position: relative;
}

#logo_header {
    width: 24px;
    height: auto;
    margin-top: 3.13vw;
    margin-left: 5vw;
}

#main_burger {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    margin-right: 5.9vw;
    margin-top: 1.97vh;
}


.lista_nav {
    max-width: auto;
    display: none;
    background-color: #0000EC;
    margin: 0;
    padding: 0;

    li {
        list-style: none;  
        margin: 0;
        padding-left: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    a {
        text-decoration: none;
        font-size: 16px;
        color: white;
    }
}

#button_burger {
    display: none;
}

#button_burger:checked ~ .lista_nav {
    display: block;
}

