#seccion-novedades{
    @extend %secciones;
    position: relative;
    padding-bottom: 0;
    margin-top: 2vh;
    height: 65vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-novedades{
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    align-items: center;
    
    #titulo-novedades{
        color: #FFFFFF;
        margin-bottom: 8vh;
    }
    
    #boton-novedades{
        @include estilo-botones;
        max-width: 345px;
    }
}


