#seccion-de-donde{
    @extend %secciones;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenido-de-donde{   
    max-height: 464px;
}

.contenedor-phone{
 
    .phone{
        width: 100vw;
        max-width: 457.6px;
        margin: 0;
        padding: 0;
        position: relative;
        top: -120px;
        left: 0; 
    }
}

#parrafo-de-donde{
    margin-top: 1rem;
}



